._01,
._01 * {
  box-sizing: border-box;
}
._01 {
  background: #ffffff;
  width: 1920px;
  height: 1078px;
  position: relative;
  overflow: hidden;
}
. {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--title-2-regular, 400 28px/110% "Roboto-Regular", sans-serif);
  position: absolute;
  left: 370px;
  top: 182px;
}
.frame-432 {
  display: flex;
  flex-direction: row;
  gap: 41px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 360px;
  top: 250px;
}
.2 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.3 {
  background: var(--card-bg, rgba(207, 173, 132, 0.3));
  border-radius: 16px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.4 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--body-regular, 400 20px/28px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-12 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-8 {
  border-style: solid;
  border-color: var(--text-color, #613c11);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.5 {
  flex-shrink: 0;
  width: 124px;
  height: 124px;
  position: relative;
}
.mask-group {
  position: absolute;
  inset: 0;
}
.rectangle-5982 {
  background: #d9d9d9;
  border-radius: 12px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.unsplash-m-cilgjkl-l-9-u {
  position: absolute;
  right: -3.12%;
  left: -2.5%;
  width: 105.62%;
  bottom: -9.06%;
  top: -3.75%;
  height: 112.81%;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 587px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._180-g {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--footnote-regular, 400 16px/22.4px "Roboto-Regular", sans-serif);
  position: relative;
}
.outline-icons {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-402 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.nt {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-small, 500 20px "Roboto-Medium", sans-serif);
  position: relative;
}
._199 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-small, 500 20px "Roboto-Medium", sans-serif);
  position: relative;
}
.frame-48 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.acc {
  background: #ffffff;
  border-radius: 8px;
  padding: 3px 92px 3px 92px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 136px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
._1 {
  color: var(--text-color, #613c11);
  text-align: center;
  font: var(--footnote-regular, 400 16px/22.4px "Roboto-Regular", sans-serif);
  position: relative;
  width: 14px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus {
  color: var(--grey-05, #e0e0e0);
  text-align: center;
  font: 500 18px/50px "SfProDisplay-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus {
  color: var(--text-color, #613c11);
  text-align: center;
  font: 500 18px/50px "SfProDisplay-Medium", sans-serif;
  position: absolute;
  left: 96px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.6 {
  background: var(--card-bg, rgba(207, 173, 132, 0.3));
  border-radius: 16px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 778px;
  position: relative;
}
.frame-21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mask-group2 {
  flex-shrink: 0;
  width: 124px;
  height: 124px;
  position: static;
}
.rectangle-59822 {
  background: #d9d9d9;
  border-radius: 12px;
  width: 124px;
  height: 124px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.unsplash-7-c-1-u-4-aqiwu-8 {
  border-radius: 12px;
  width: 231px;
  height: 288px;
  position: absolute;
  left: -53px;
  top: -119px;
}
._100-g-10 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
  width: 122px;
}
.nt-200 {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: 400 12px "Inter-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
}
.nt2 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
._149 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-25 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-5981 {
  background: #d9d9d9;
  border-radius: 12px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.unsplash-fr-sw-trv-6-vyy {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: -24.06%;
  height: 124.06%;
}
._120-g-10 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
  width: 122px;
}
.nt-180 {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: 400 12px "Inter-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
}
._159 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-29 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 8px;
  width: 124px;
  height: 124px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.alexander-london-5-lm-xnq-rqbty-unsplash-2 {
  width: 158px;
  height: 198px;
  position: absolute;
  left: 0px;
  top: -67px;
}
._90-g-6 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
  width: 122px;
}
.nt-100 {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: 400 12px "Inter-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
}
._89 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.unsplash-xqi-tv-f-fee-6-y {
  position: absolute;
  right: -4.06%;
  left: -1.88%;
  width: 105.94%;
  bottom: -25.31%;
  top: -8.13%;
  height: 133.44%;
}
._100-g-6 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
  width: 122px;
}
.nt-190 {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: 400 12px "Inter-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
}
._99 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-5980 {
  background: #d9d9d9;
  border-radius: 12px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.pexels-photo-by-fox {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
._390-g {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
  align-self: stretch;
}
.nt-289 {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: 400 12px "Inter-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
}
._1992 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-extrasmall, 400 16px "Roboto-Regular", sans-serif);
  position: relative;
}
.7 {
  background: var(--card-bg, rgba(207, 173, 132, 0.3));
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 380px;
  position: relative;
}
.pc-btn-product-backtoshop {
  background: var(--primary, #cfad84);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.8 {
  color: var(--color-white, #ffffff);
  text-align: center;
  font: var(--body-regular, 400 20px/28px "Roboto-Regular", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.9 {
  background: var(--card-bg, rgba(207, 173, 132, 0.3));
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 378px;
  position: relative;
}
.frame-16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-407 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.10 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--footnote-regular, 400 16px/22.4px "Roboto-Regular", sans-serif);
  position: relative;
}
._100 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-medium, 700 24px "Roboto-Bold", sans-serif);
  position: relative;
}
.mb-input {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--primary, #cfad84);
  border-width: 1px;
  padding: 10px 10px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 198px;
  height: 48px;
  position: relative;
}
.placeholder {
  color: var(--grey-04, #bdbdbd);
  text-align: left;
  font: var(--footnote-regular, 400 16px/22.4px "Roboto-Regular", sans-serif);
  position: relative;
  width: 189px;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-192 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: var(--text-color, #613c11);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-408 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.nt3 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-medium, 700 24px "Roboto-Bold", sans-serif);
  position: relative;
}
._1993 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-medium, 700 24px "Roboto-Bold", sans-serif);
  position: relative;
}
.11 {
  background: var(--primary, #cfad84);
  padding: 0px 360px 0px 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 960px);
  top: 0px;
}
.frame-309 {
  display: flex;
  flex-direction: row;
  gap: 190px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  position: relative;
}
.frame-308 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.home {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.12 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--title-3-regular, 400 24px/110% "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-279 {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-92 {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-313 {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-311 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.shopping-bag {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.shopping-bag2 {
  height: auto;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  width: 66.67%;
  bottom: 8.33%;
  top: 8.33%;
  height: 83.33%;
  overflow: visible;
}
.frame-410 {
  background: var(--secondary, #7da528);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0%;
  left: 50%;
  width: 50%;
  bottom: 50%;
  top: 0%;
  height: 50%;
}
._12 {
  color: var(--color, #ffffff);
  text-align: left;
  font: var(--callout-regular, 400 15px/21px "Roboto-Regular", sans-serif);
  position: relative;
}
.frame-312 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.login {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.register {
  padding: 26px 20px 26px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-302 {
  background: rgba(255, 255, 255, 0.8);
  padding: 16px 360px 16px 92px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 1920px;
  position: sticky;
  left: 0px;
  top: 978px;
}
.frame-292 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-409 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.nt4 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-large, 700 32px "Roboto-Bold", sans-serif);
  position: relative;
}
._1994 {
  color: var(--text-color, #613c11);
  text-align: left;
  font: var(--number-large, 700 32px "Roboto-Bold", sans-serif);
  position: relative;
}
.pc-btn-product-backtoshop2 {
  background: var(--primary, #cfad84);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 348px;
  height: 68px;
  position: relative;
}
.chatbot {
  width: 656px;
  height: 841px;
  position: sticky;
  left: 1224px;
  top: 78px;
}
.chatbot-default {
  height: auto;
  position: absolute;
  right: 0%;
  left: 85.37%;
  width: 14.63%;
  bottom: 0%;
  top: 88.59%;
  height: 11.41%;
  overflow: visible;
}
