body {
    font-family: 'Roboto';
    line-height: 1.6;
    color: #613c11;
    width: 100%;
}

.cart{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.cartContainer{
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

.cartTitle1{
    font-size: 1.75rem;
    color: #613c11;
}

.leftCard{
    background-color: rgba(207, 173, 132, 0.3);
    /* width: 780px; */
    /* height: 550px; */
    /* margin-top: 20px; */
    border-radius: 16px;
}

.rightCard{
    background-color: rgba(207, 173, 132, 0.3);
    /* width: 780px; */
    /* height: 550px; */
    /* margin-top: 20px; */
    border-radius: 16px;
}

/* 商品明細 */

.cardStyle1{
    grid-column: 1/2;
    grid-row: 1/5;
}

.cartTitle2{
    display: block;
    font-size: 1.25rem;
    padding-top: 16px;
    margin-left: 24px;
}

ul{
    margin-left: 24px;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style:none;
}

.cartProdlist{
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #613c11;
}

.cartCard{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 580px;
}

.cardUp{
    display: inline-flex;
}

.cardUp span:first-child{
    text-indent: -8px;
    flex-grow: 1;
}

.material-symbols-outlined{
    display: block;
    align-self: flex-end;
}

.cardDown{
    display: inline-flex;
    align-items: flex-end;
}

.cardDown span{
    flex-grow: 1;
}

/* Input Step */
.input-stepper {
    background: white;
    display: inline-flex;
    border-radius:8px ;
    padding:4px;
    align-items: center;
    justify-content: center;
}
  
.input-stepper button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-stepper button.plus{
    color: #613c11;
    padding: 0;

}

.input-stepper button.minus{
    color: #E0E0E0;
    padding: 0;
}

.input-stepper button[disabled] {
    cursor: not-allowed;
    opacity: .4;
}
  
.input-stepper input {
    font-size: 1rem;
    color: #613c11;
    line-height: 1.6;
    border: none;
    text-align: center;
    width: 36px;
}

/* 加價購 */
.cardStyle2{
    grid-column: 1/2;
    grid-row: 5/6;
}

.addCard{
    display:inline-flex;
}

.cartAdd{
    display:flex;
    flex-direction: column;
    flex-basis: 124px;
    align-items: space-between;
    margin-bottom: 16px;
    margin-right: 28px;
}

.addContain p{
    margin: 0;
}

.addContain p:first-child{
    font-size: .9rem;
    text-indent: -8px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    box-sizing:border-box;
}

.addContain p:nth-child(2){
    font-size: .75rem;
    text-decoration:line-through;
    color: #BDBDBD;
}

/* 優惠票券 */
.cardStyle3{
    grid-area:1/2/1/4;
}

.cartCoupon{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.08rem;
    width: 348px;
    line-height: 56px;
    border-radius: 8px;
    color: #fff;
    background-color: #CFAD84;
    margin: 12px auto;
}


/* 點數 */
.cardStyle4{
    grid-area:2/2/2/4;
}

.cartPoint{
    display: inline-flex;

}

.cartPoint p:nth-child(2){
    font-size: 1.25rem;
    font-weight:bold;
}

/*付款明細 */
.cardStyle5{
    grid-area:3/2/5/4;
}

